/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

#map {
  /*display: none;*/
  height: 500px;
}


html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.bg-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background: url("../images/City_Landscape_Background.jpg") no-repeat;
  background-position: center center;
  background-size: 100%;
  -webkit-background-size: 100%;
  height: 100%;
  filter: blur(3px);
  transform: scale(1.01);
}

main {
  flex: 1 0 auto;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

.pac-container {
  padding-bottom: 0px;
  margin-right: 12px;
  background-color: rgba(255, 255, 255, 0.5);
}

.pac-item {
  background-color: rgba(3, 155, 229, 0.8);
  color: white;
}

.pac-item-query {
  color: white;
  font-weight: 300;
}

.pac-matched {
  font-size: 14px;
  text-decoration: underline;
}

.pac-icon {
  color: #039be5;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/*
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}
*/

/*
#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
*/

/*Divide the grid into 5ths*/

.s5ths,
.m5ths,
.l5ths,
.xl5ths {
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s5ths {
  width: 20%;
}

@media only screen and (min-width: 601px) {
  .row .col.m5ths {
    width: 20%;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l5ths {
    width: 20%;
  }
}

@media only screen and (min-width: 1201px) {
  .row .col.xl5ths {
    width: 20%;
  }
}

.footer-li {
  float: right;
  padding-left: 25px;
}

.page-footer {
  padding-top: 0;
}

.card-image > img {
  height: 250px;
}

.card-title {
  text-align: center;
  height: 72px;
}

.modal-trigger {
  font-family: 'Roboto';
  color: black;
}

.sub-heading {
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
}

.main-heading {
  font-family: 'Righteous', cursive;
  color: white;
}

#placeName {
  color: white;
}

.tab-menu {
  margin-bottom: 40px;
  margin-top: 10px;
  padding: 0 !important;
}

.page-footer {
  background-color: #000;
}

.tab-menu > ul > li.indicator {
  background-color: #039be5;
}

#restEvent,
#nightEvent,
#musEvent,
#casEvent,
#lodgeEvent {
  color: #039BE5;
}

#restEvent.active,
#nightEvent.active,
#musEvent.active,
#casEvent.active,
#lodgeEvent.active {
  background-color: #e1f5fe;
  font-weight: 500;
}

.btn {
  background-color: #039BE5;
}

.btn:hover {
  background-color: #006db3;
}

.sub-heading,
#destSearch {
  display: inline-block;
  color: white;
}

#mct {
  padding-top: 0;
  font-weight: 400;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.card {
  min-width: 100%;
}
